.row-element {
  display: flex;
  align-items: center;
  border-top: 1px solid var(--line);
  color: var(--black);
  background: var(--white);
  &:hover {
    background: linear-gradient(
        0deg,
        rgba(0, 155, 164, 0.07),
        rgba(0, 155, 164, 0.07)
      ),
      #ffffff;
  }
  &__archive {
    color: var(--red);
    background: var(--red-05);
  }
  div {
    border-right: 1px solid var(--line);
    padding: 0 10px;
    height: 40px;
    display: flex;
    align-items: center;
    font-size: var(--fs-14);
    font-weight: var(--fw-400);
    line-height: var(--lh-16);
    span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &:first-child {
      border: none;
      padding: 0 11px 0 15px;
    }
    &:last-child {
      border-right: none;
    }
  }
}

.edit-button {
  height: 18px;
  border: none;
  background: transparent;
  cursor: pointer;
  svg {
    color: var(--gray-border);
  }
  &:hover {
    svg {
      color: var(--green-accent);
    }
  }
}
